<!DOCTYPE html>
<html lang = "en">
    <head>
    <link rel = "stylesheet" href = "../style.css">
    <link rel = "stylsheet" href = "../stack.css">
    <style>
        body{
         background-color: #fffdd0;
        }
    </style>
   <title> Stackoverflow Website</title>    
 

    </head>
    <body>
        <div class="stackModal">
            <form id = "stackform"> 
<a href = "index.html"> 
            <img src = "https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.png?v=9c558ec15d8a" id = "stackimage" style = "width: 40%;">
        </a>
            <input type = "text" id = "stackquestion" placeholder="Search...">
    </form>
    <br>
        <div id="search-result"></div>
        <div id="answers-container"></div>
        <div id="Load-More"></div>
        </div>


        <script src = "../stack.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
      </script>
        
    </body>






</html>